/* Import Local SCSS Files */
@import "fonts", "variables", "reset";

* {
  font-family: $primary-kr;
  color: $dark-black;
}
body {
  font-weight: 300;
  margin: 0;
  font-size: 15px;
}

/* ######### Main-Page ##########*/
.container.mainpage {
  min-width: 1180px;
  .mainpage-nav {
    // 네브바 영역
    .mainnav-inner {
    }
  }
  .mainpage-body {
    display: flex;
    justify-content: center;
    margin-top: 26px;
    .mainbody-inner {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      width: 1180px;
      justify-content: space-between;
      .mainbody-left {
        // 왼쪽 영역
      }
      .mainbody-center {
        // 중앙(본문) 영역
      }
      .mainbody-right {
        // 오른쪽 영역
      }
    }
  }
  .mainpage-footer {
    // 푸터
    .footer-inner {
      // 푸터 내부
    }
  }
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

/* ###### Calendar-Page #######*/
.calendar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  .calendar-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1180px;
    height: 100vh;
    background: red;
    span {
      color: white;
      font-size: 300px;
    }
  }
}
/* ###### Party-Page #######*/
.party-container {
  display: flex;
  align-items: center;
  justify-content: center;
  .party-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1180px;
    height: 100vh;
    background: red;
    span {
      color: white;
      font-size: 250px;
    }
  }
}
/* ###### Notice-Page #######*/
.notice-container {
  display: flex;
  align-items: center;
  justify-content: center;
  .notice-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1180px;
    height: 100vh;
    background: red;
    span {
      color: white;
      font-size: 250px;
    }
  }
}
/* ###### Admin-Page #######*/
.admin-container {
  display: flex;
  align-items: center;
  justify-content: center;
  .admin-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1180px;
    height: 100vh;
    background: red;
    span {
      color: white;
      font-size: 250px;
    }
  }
}
/* ###### My-Page #######*/
.mypage-container {
  display: flex;
  align-items: center;
  justify-content: center;
  .mypage-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1180px;
    height: 100vh;
    background: red;

    span {
      color: white;
      font-size: 250px;
    }
  }
}
/* ###### Chat-Page #######*/
.chat-container {
  display: flex;
  align-items: center;
  justify-content: center;
  .chat-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1180px;
    height: 100vh;
    background: red;

    span {
      color: white;
      font-size: 250px;
    }
  }
}
